@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'lato', sans-serif;
}

body {
  background-color: rgb(255, 255, 255, 0.9);
}

body,
.toolbar-1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #272a31;
}

.home-icon {
  display: none;
}

/* styling for the toolbar section starts here  */
.toolbar-1,
.toolbar-2 ul {
  display: none;
  margin: 0;
  padding: 0;
}

.toolbar-2 .menu-close-bar {
  margin: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
}

.toolbar-2 img {
  display: none;
}

.toolbar .home-IC {
  display: none;
}

.toolbar-2 .close-bar {
  display: none;
  right: 0;
}

.toolbar li {
  padding: 5px;
}

/* styling for the toolbar section ends here  */

/* Menu pressed  */
.menu-bar.active {
  display: none;
}

.toolbar .home-IC.active {
  display: block;
}

.close-bar.active {
  display: block;
}

li:visited,
li:hover {
  border: 2px solid tomato;
  color: tomato;
  cursor: pointer;
}

a:hover {
  color: tomato;
}

.toolbar-2 ul.active {
  .toolbar-logo {
    display: none;
  }

  .l {
    margin-bottom: 2rem;
  }

  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 1rem;
  align-items: stretch;
  align-items: center;
  align-content: space-between;
}

body.active {
  background-color: #d1d1d1;
}

/* Menu pressed  */

/* styling for home section */
.home {
  width: 100%;
  height: auto;
  background-image: url("assets/mbile-homepage-bg.png");
  background-size: contain;
  margin: 0;
  padding: 0;
}

.home-content1 {
  padding: 5rem 0 2rem 0;
  margin-left: 7%;
}

.abouthome-content1 {
  text-align: center;
}

.home-content1 p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ec5242;
  margin: 0;
  padding-bottom: 1rem;
}

.home-content1 h1 {
  font-size: 1.8rem;
  font-weight: 1000;
  margin: 0;
  background-color: #ec5242;

  /* Create the gradient. */
  background-image:
    linear-gradient(
      45deg,
      #ca4246 16.666%,
      #e16541 16.666%,
      #e16541 33.333%,
      #f18f43 33.333%,
      #f18f43 50%,
      #8b9862 50%,
      #8b9862 66.666%,
      #476098 66.666%,
      #476098 83.333%,
      #a7489b 83.333%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */

  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.5s ease forwards;
}

.home-content1 h1:hover {
  animation: rainbow-text-simple-animation 0.3s ease-in forwards;
}

@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }

  80% {
    background-size: 650%;
  }

  100% {
    background-size: 650%;
  }
}

.home-content2 {
  margin-left: 8%;
  padding: 0.6rem;
  width: 75%;
  font-size: 0.8rem;
  color: #55575d;
  border: 5px solid white;
  background-color: #f9f9f9;
}

.abouthome-content2 {
  width: 50%;
  padding: 0.6rem;
  margin-left: 25%;
  font-size: 0.9rem;
  color: #74767b;
  background-color: #fff;
  border: 1px solid #e3e3e3;
}

.abouthome-content2 p {
  text-align: center;
}

.home-content3 {
  margin-left: 7%;
  padding-left: 1rem;
  width: 75%;
  color: #272a31;
  padding-bottom: 2rem;
}

.abouthome-content3 {
  text-align: center;
  color: #74767b;
  width: 50%;
  margin-left: 25%;
  padding-bottom: 4rem;
  padding-top: 1rem;
}

.abouthome-content3 a {
  text-decoration: underline;
}

.home-content3 .date {
  font-size: 1.2rem;
  font-weight: 900;
  color: #272a31;
  margin-bottom: 0;
}

.home-content3 .place {
  font-size: 0.9rem;
  font-weight: 700;
  color: #272a31;
}

/* styling for home section */

/* aboutpage */
.about-global-summit {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e3e3e3;
}

.about-global-summit h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #272a31;
}

.about-global-summit h2::after {
  content: '';
  display: block;
  position: relative;
  width: 4%;
  border-bottom: 2px solid rgb(255, 94, 66, 0.6);
  margin-top: 0.5rem;
  margin-left: 48%;
  align-self: center;
}

.about-global-summit p {
  width: 40%;
  margin-left: 30%;
  color: #272a31;
  font-size: 0.9em;
}

.about-global-summit img {
  width: 40%;
}

.past-campaign {
  text-align: center;
  padding-top: 2rem;
}

.past-campaign h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #272a31;
}

.past-campaign p {
  width: 60%;
  margin-left: 20%;
}

.past-campaign h2::after {
  content: '';
  display: block;
  position: relative;
  width: 4%;
  border-bottom: 2px solid rgb(255, 94, 66, 0.6);
  margin-top: 0.5rem;
  margin-left: 48%;
  align-self: center;
}

.past-images {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.past-images img {
  width: 100%;
  opacity: 0.6;
  color: rgba(254, 101, 101, 0.4);
  margin-bottom: 1rem;
}

/* aboutpage */

/* program section styling  */
.program {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url('assets/pattern_bg.png');
}

.program h2 {
  margin: 0;
  padding-top: 3rem;
  text-align: center;
  color: rgba(230, 230, 230, 0.9);
}

.program h2::after {
  content: '';
  display: block;
  position: relative;
  width: 4%;
  border-bottom: 2px solid rgb(255, 94, 66, 0.6);
  margin-top: 0.5rem;
  margin-left: 48%;
  align-self: center;
}

.Program-activity {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: center;
}

.pro-act {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  background-color: rgb(124, 128, 131, 0.3);
}

.pro-act div {
  margin-right: 2%;
}

.pro-act img,
.pro-act h3 {
  padding: 0;
  margin: 0;
}

.program-title {
  margin: 0;
  padding: 0;
  color: #ec5242;
  font-size: 0.85rem;
  text-align: center;
}

.program-detail {
  margin: 0 5% 0 5%;
  color: #d3d3d3;
  font-size: 0.8rem;
}

.see-allprogram {
  display: none;
}

.join-link {
  text-align: center;
  padding-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 7%;
}

.join-link button {
  background-color: #ec5242;
  color: white;
  padding: 4% 10%;
  font-size: 1.2rem;
  border: none;
}

/* program section styling  */

/* Speaker section styling  */
.speakers {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.speakers h2 {
  margin: 0;
  font-size: 1.5rem;
  padding-top: 4rem;
  text-align: center;
  color: rgba(32, 42, 49, 0.9);
}

.speakers h2::after {
  content: '';
  display: block;
  position: relative;
  width: 6%;
  border-bottom: 2px solid rgb(255, 94, 66, 0.5);
  margin-top: 0.5rem;
  margin-left: 47%;
  align-self: center;
}

.speakrs-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.speakrs-container div {
  display: flex;
}

.speaker-img {
  position: relative;
}

.speaker-img img {
  left: 0;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.speakrs-container img {
  border-radius: 50%;
}

.middle a {
  margin-right: 1rem;
}

.speaker-profile {
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.speaker-profile h4 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: #272a31;
}

.speaker-profile p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.speaker-profile .Stitle {
  color: #ec5242;
  font-size: 1rem;
}

.speaker-profile .Stitle::after {
  content: '';
  display: block;
  position: relative;
  width: 10%;
  border-bottom: 2px solid rgb(200, 200, 200, 0.7);
  margin-top: 0.5rem;
  align-self: center;
}

.speaker-one,
.speaker-two,
.speaker-three,
.speaker-four,
.speaker-five,
.speaker-six {
  margin-bottom: 5%;
}

/* Speaker section styling  */

/* SHOW MORE OR LESS  */

.show-more-less-speaker {
  padding-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 3%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.show-more-less-speaker button {
  text-align: center;
  background-color: white;
  color: black;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 30%;
  padding-right: 30%;
  font-size: 0.8rem;
  border: 1px solid #d3d3d3;
}

.show-more-less-speaker .fa-angle-down,
.show-more-less-speaker .fa-angle-up {
  color: tomato;
}

.speakers .speaker-three,
.speakers .speaker-four,
.speakers .speaker-five,
.speakers .speaker-six {
  display: none;
}

.show-more-less-speaker .less-content {
  display: none;
}

/* SHOW MORE OR LESS  */

/* partner section styling  */
.Partners {
  background-color: #434848;
  padding-top: 2%;
  padding-bottom: 3%;
}

.Partners h2 {
  text-align: center;
  color: rgba(211, 211, 211, 0.7);
}

.Partners h2::after {
  content: '';
  display: block;
  position: relative;
  width: 2.3%;
  border-bottom: 2px solid rgb(255, 94, 66, 0.5);
  margin-top: 0.5rem;
  margin-left: 49%;
  align-self: center;
}

.Partners-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
}

.part-logos img {
  width: 90%;
  mix-blend-mode: darken;
}

.home-partners {
  display: none;
}

/* partner section styling  */

/* footer section  */
.foot {
  display: flex;
  justify-content: space-between;
  padding: 4% 10%;
  background-color: rgb(210, 210, 210, 0.7);
  align-items: center;
}

.foot img {
  width: 11vw;
}

.foot p {
  width: 70%;
  font-size: 0.7rem;
  color: #272a31;
}

.home-foot {
  display: none;
}

/* footer section  */

.speakers .speaker-three.active,
.speakers .speaker-four.active,
.speakers .speaker-five.active,
.speakers .speaker-six.active {
  display: flex;
}

.home-foot.active {
  display: flex;
}

.home-partners.active {
  display: block;
}

.more-content.active {
  display: none;
}

.less-content.active {
  display: block;
}

.speaker-img:hover img {
  opacity: 0.5;
}

.past-images img:hover {
  opacity: 1;
}

.speaker-img:hover .middle {
  opacity: 1;
}

.join-link button:hover {
  background-color: #5ca1e1;
}

.show-more-less-speaker button:hover {
  background: #272a31;
  color: tomato;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .more-content {
    display: none;
  }

  .less-content {
    display: none;
  }

  .home-partners {
    display: block;
  }

  .home-foot {
    display: flex;
  }

  .toolbar-2 .menu-close-bar {
    display: none;
  }

  .toolbar-logo {
    width: 4.5rem;
    display: block;
  }

  /* Menu pressed  */
  .close-bar.active {
    display: none;
  }

  .toolbar-logo.active {
    display: block;
  }

  .toolbar-2 ul.active {
    .toolbar-logo {
      display: block;
    }

    display: flex;
    flex-direction: row;
    margin-top: 0;
  }

  body.active {
    background-color: white;
  }

  /* Menu pressed  */

  .toolbar-1 {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background-color: #3e3e3e;
    color: white;
    width: 100%;
    height: auto;
  }

  .toolbar-1 ul {
    display: flex;
    list-style-type: none;
    margin-right: 5%;
    padding-left: 0.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .toolbar-1 .fa-brands {
    text-decoration: none;
    color: #f9f9f9;
    margin-right: 1rem;
  }

  .toolbar-1 .top-list {
    font-size: 0.8rem;
    text-decoration: none;
    color: #f9f9f9;
    margin-left: 2rem;
  }

  .toolbar-1 .lang-list {
    margin-left: 1rem;
    background-color: #3e3e3e;
    color: #f9f9f9;
    border-style: none;
    font-size: 0.8rem;
  }

  .toolbar-2-cont {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
  }

  .toolbar-2 img {
    display: block;
  }

  .toolbar-2 ul {
    margin-left: 5%;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
  }

  .toolbar-2 .l {
    position: relative;
    margin-right: 5vw;
  }

  /* about */

  .home-icon {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10%;
    padding-top: 1rem;
  }

  .home-icon a {
    margin: 0;
    padding: 0;
  }

  .home-icon i {
    margin-right: 0.2rem;
    margin-left: 0.3rem;
  }

  .home-icon .fa-chevron-right {
    color: #ec5242;
  }

  /* styling for home section */

  /* aboutpage */
  .abouthome-content1 p {
    display: none;
  }

  .about-global-summit h2,
  .past-campaign h2 {
    font-size: 2rem;
  }

  .about-global-summit img {
    width: 30%;
  }

  .past-images {
    margin-left: 11%;
    margin-right: 10%;
    display: flex;
    padding-top: 2rem;
  }

  .past-images img {
    width: 90%;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }

  /* aboutpage */

  /* home section styling  */
  .home {
    background-image: url("assets/homepage-bg-image.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .home-content1 p {
    font-size: 1.9rem;
  }

  .home-content1 h1 {
    font-size: 3.4rem;
  }

  .home-content2 {
    width: 50%;
  }

  .home-content3 {
    padding-bottom: 5rem;
  }

  .home-content3 .date {
    font-size: 1.8rem;
  }

  .home-content3 .place {
    font-size: 1rem;
  }

  /* home section styling  */

  /* program section styling  */

  .program h2 {
    padding-top: 4rem;
  }

  .Program-activity {
    flex-direction: row;
  }

  .pro-act {
    width: 35%;
    flex-direction: column;
    margin-left: 1%;
  }

  .pro-act div {
    margin-right: 0;
  }

  .program-title {
    font-size: 1rem;
  }

  .see-allprogram {
    display: block;
    padding: 5rem 0 5rem 0;
    text-align: center;
  }

  .see-allprogram a {
    color: rgba(211, 211, 211, 0.7);
    padding-bottom: 2px;
    border-bottom-style: solid;
  }

  .join-link {
    display: none;
  }

  /* program section styling  */

  /* Speaker section styling  */
  .speakers {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  .speakers h2 {
    font-size: 2rem;
  }

  .speakrs-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1%;
    row-gap: 1%;
    grid-template-rows: auto auto auto;
  }

  .speaker-one {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .speaker-two {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .speaker-three {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  .speaker-four {
    grid-row-start: 2;
    grid-column-start: 2;
  }

  .speaker-five {
    grid-row-start: 3;
    grid-column-start: 1;
  }

  .speaker-six {
    grid-row-start: 3;
    grid-column-start: 2;
  }

  .speakers .speaker-three,
  .speakers .speaker-four,
  .speakers .speaker-five,
  .speakers .speaker-six {
    display: flex;
  }

  /* Speaker section styling  */

  /* SHOW MORE LESS  */
  .show-more-less-speaker {
    display: none;
  }

  /* SHOW MORE LESS  */

  /* partner section styling  */

  .Partners-container {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .part-logos img {
    width: 100%;
  }

  .about-partners {
    display: none;
  }

  /* partner section styling  */

  /* footer section  */
  .foot p {
    width: 80%;
    font-size: 0.85rem;
  }

  .about-foot {
    background-color: #434848;
    padding-bottom: 3rem;
  }

  .about-foot p {
    color: #d3d3d3;
  }

  /* footer section  */
}
